<div class="thumbnail">
<img src={{ character.thumbnail.path }}.{{ character.thumbnail.extension }} alt={{ character.name }} style="min-height:350px;height:350px;" >
    <div class="caption">
        <h3>{{ character.name }}</h3
        <p><a class="btn btn-primary add-to-favorites" role="button">Add to favorites</a>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg-{{character.id}}"> info </button></p>
    </div>
</div>

<div class="modal fade bs-example-modal-lg-{{character.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-lg-6">
                    <img src={{ character.thumbnail.path }}.{{ character.thumbnail.extension }} alt={{ character.name }} class="thumbnail" style="min-height:450px;height:450px;" />
                </div>
                <div class="col-lg-6" style="text-align: center; min-height:450px;height:450px; padding-top: 150px;" >
                    <a href={{ character.comics.collectionURI }}><h3>Comics</h3></a>
                    <a href={{ character.stories.collectionURI }}><h3>Stories</h3></a>
                    <a href={{ character.series.collectionURI }}><h3>Series</h3></a>
                </div>
            </div>

            <div class="modal-footer">
                <div class="caption" style="text-align: right; padding: 10px;">
                    <h3>{{ character.name }}</h3
                    <div class="description">
                        {{ character.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
